.chamada{
    background-color: purple;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
}

body{
    background-color: violet;
    margin: 0px;

}