.chamada{
    background-color: purple;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

body{
    background-color: violet;
    margin: 0px;
    font-family: "Oswald", sans-serif;
    color: ghostwhite;
    margin-bottom: 100px;
}
header{
    font-size: 35px;
    color: beige;
    border-bottom: 3px solid beige;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-text{
    margin-right: 5%;
}